body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board{
    display: grid;
    height: 30vw;
    width: 30vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


form{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

form > button {
    width: 40%
}

input[type=text] {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

label{
    color: blue;
    text-align: left;
    margin-bottom: 100px;
}

#board > button{
    font-size: 4.5rem;
    background-color: #A9DFBF;
}

.second {
    font-size: 3.5rem;
    margin-top: 7%;
    text-decoration: underline;
    color: lightcoral;
}

#half{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3%;
}

h3{
    margin: 0px; 
    font-size: 1.5rem;
}

h1{
   font-size: 3rem;
   color: #F1948A;
   text-decoration: underline;
}